<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
    <PropertyGroup>
        <WebPublishMethod>MSDeploy</WebPublishMethod>
        <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>

        <MSDeployServiceURL>site67760.siteasp.net</MSDeployServiceURL>
        <DeployIisAppPath>site67760</DeployIisAppPath>
        <UserName>site67760</UserName>

        <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
        <SiteUrlToLaunchAfterPublish>http://yellowblueredbookstoreapi.runasp.net/</SiteUrlToLaunchAfterPublish>
        <ExcludeApp_Data>false</ExcludeApp_Data>
        <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
        <EnableMSDeployBackup>true</EnableMSDeployBackup>

        <SelfContained>false</SelfContained>
        <_IsPortable>true</_IsPortable>
        <TargetFramework>net10.0</TargetFramework>
        <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
        <LastUsedPlatform>Any CPU</LastUsedPlatform>

        <!-- Keep credentials out of source control. Rider/MSDeploy should prompt for the password. -->
        <_SavePWD>false</_SavePWD>
    </PropertyGroup>
</Project>
